params {
    config_profile_description = 'University of Michigan Great Lakes HPC Cluster.'
    config_profile_name	       = 'umich_gl'
    config_profile_contact     = 'Huzefa Khalil <@huzefaKhalil>'
    config_profile_url	       = 'https://umich.edu'
}

process {
    resourceLimits = [
        memory: 180.GB,
        cpus: 36,
        time: 14.d
    ]
    executor       = 'slurm'
    queue          = 'all'
    maxRetries     = 2
    clusterOptions = "--partition=standard"
}

singularity {
    enabled       = true
    autoMounts    = true
    cacheDir      = '/home/huzefak/singularityCaches'
}

executor {
    queueSize       = 12
    submitRateLimit = '10 sec'
}
