def scratch_dir = "/scratch/akil_root/akil0/${System.getenv("USER")}"

params {
    config_profile_description = 'University of Michigan Great Lakes HPC Cluster.'
    config_profile_name	       = 'umich_gl'
    config_profile_contact     = 'Huzefa Khalil <@huzefaKhalil>'
    config_profile_url	       = 'https://umich.edu'
}

process {
    resourceLimits = [
        memory: 64.GB,
        cpus: 12,
        time: 3.d
    ]
    executor       = 'slurm'
    queue          = 'all'
    maxRetries     = 2
    clusterOptions = "--partition=standard"
}

cleanup = true

env.TMPDIR = "${scratch_dir}"

workDir = "${scratch_dir}"

singularity {
    enabled       = true
    autoMounts    = true
    cacheDir      = '/home/huzefak/singularityCaches'
    runOptions    = "-B ${scratch_dir}"
}

executor {
    queueSize       = 12
    submitRateLimit = '10 sec'
}
